.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-height: 450px;
    margin: auto;
    text-align: center;   
}

.imgCard {
    width: 280px;
}

.container:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}